@import url('form.css');

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100dvh;
    background-color: #950101;
}





/* HEADER */
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

.header-row {
    width: calc(100% - 40px);
    height: fit-content;
    padding: 0 20px;
    gap: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-row h2 {
    padding: 10px 0;
}

.header-row h4 a {
    text-decoration: none;
    color: white;
    background-color: inherit;
}

.header-row select {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: #ff0000;
}

.header-nav {
    width: calc(100% - 40px);
    height: fit-content;
    padding: 5px 20px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-nav a {
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    color: dimgray;
    background-color: black;
    border-radius: 6px;
}

.header-nav a:hover {
    color: lightgray;
    background-color: #950101;
}

.header-nav .selected {
    color: white;
    background-color: #ff0000;
}

/* HEADER */




/* CONTENT */
main {
    width: 100%;
    height: auto;
    background-color: #950101;
}

.content-box {
    width: calc(100% - 40px);
    height: auto;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.info-box {
    width: auto;
    height: auto;
    min-width: fit-content;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 6px;
}

.info-dash {
    width: 500px;
    height: auto;
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.info-dash h3 {
    width: 100%;
    text-align: center;
}

.info-dash p {
    width: 100%;
}

.info-dash table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    background-color: #950101;
}

.info-dash table tr {
    height: 50px;
}

.info-dash table td,
.info-dash table th {
    width: auto;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #3d0000;
}

.info-dash table td a {
    width: auto;
    height: auto;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    background-color: #ff0000;
}

/* CONTENT */





/* Message Display */
.msg {
    width: fit-content;
    height: fit-content;
    margin: 10px 0;
    padding: 10px 20px;
    position: absolute;
    color: gray;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    transition-duration: 500ms;
}

.success {
    color: lime;
}

.failed {
    color: red;
}

.warn {
    color: yellow;
}

/* Message Display */